global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'payment-service'
    metrics_path: '/metrics'
    scrape_interval: 5s
    scrape_timeout: 5s
    static_configs:
      - targets: ['payment-service:3004']
