spring:
  datasource:
    url: jdbc:mysql://localhost:3306/etsr_users?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
jwt:
  secret: event-ticketing-system-bits-pilani-wilp
  expiration-ms: 3600